<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.anson.miniproduct.domainservice.internal.roleresource.impl.RoleResourceMapper">
    <insert id="batchInsert">
        insert into role_resource
        (id, role_id, resource_id,
        create_time, update_time)
        values
        <foreach collection="list" item="item" separator=",">
          (item.id, item.role_id, item.resource_id,
          item.create_time, item.update_time)
        </foreach>
    </insert>
</mapper>